{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ComFib Interview</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{% static 'services/styles.css' %}">
    <!-- <script src='main.js'></script> -->
    {% include 'base/css.html' %}
    {% include 'base/js.html' %}
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-left" href="{% url 'services:index' %}"><img src="{% static 'services/img/community-fibre-1.png' %}" height="80px" width="80px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'services:creation' %}"><span class="sr-only">(current)</span>Service Creation </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services:report' %}">Service Report</a>
                </li>
                </ul>
            </div>
        </nav>
    <div class="container">
    <p>This website is created as weekend project to show some talent for Community Fibre interview</p>
    <button type="button" class="btn btn-secondary col-4" data-toggle="collapse" data-target="#techUsed">Tech Used</button>
    <div id="techUsed" class="collapse in col-12">
    <p>CSS,JS,Ajax</p>
    <p>Relational DB Creation</p>
    <p>Python. Django + Parser Module</p>
    <p>Simple API</p>
    <p>Developed related to Network Domain</p>
    <p>Dockerized</p>
    </div>
    </div>
    {% if nodes %}
    <div class="row" style="padding-top: 3rem;">
    {% for node in nodes %}
      <div class="col-sm-12 col-lg-3 col-md-6">
        <div class="card text-white bg-dark">
        <div class="card-body text-white bg-dark">
            <h5 class="card-title">Node:{{ node.node_name}} IP:{{ node.system_ip}}</h5>
            <p class="card-text">See port and service details of {{ node.node_name}}</p>
            <a href="all/{{node.id}}" class="btn btn-secondary">Check inventory on node!</a>
        </div>
      </div>
      </div>
    {% endfor %}
    </div>
    {% endif %}
</body>
</html> 