{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ComFib Interview</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{% static 'services/styles.css' %}">
    <!-- <script src='main.js'></script> -->
    {% include 'base/css.html' %}
</head>
<body>
    <header>
        <h1><a href="index">Community Fibre</a></h1>
        <ul>
            <li><a href="creation">Service Creation</a></li>
            <li><a href="report">Service Report</a></li>
          </ul>
    </header>
    <!-- {% for cont in context %}
    {{cont.key}} - {{cont.value}} <br />
    {% endfor %} -->
    <div class='container'>
        {% block content %}
        {% endblock content %}
    </div>
    <p>Below diagrams are just simple representation of service distribution per port</p>
    <div class='row'>
        <div class='col-sm-12' >
            <h1>Hello World</h1>
            <div class='col-sm-6'>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div class='col-sm-6'>
                <canvas id="myChart2" width="400" height="400"></canvas>
            </div>
    
    
        </div>
    </div>
    {% include 'base/js.html '%} 
    {% block javascript %}
    <script>
      
    var endpoint = '/api/portData'
    var defaultData = [2,3,4,5,6,7]
    var labels = ["a","b","c","d","e","f"];
    $.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        console.log(data)
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
    })
    
    var ctx = document.getElementById("myChart");

    var myChart = new Chart(ctx, {
    type: 'polarArea',
    data: {
        labels: labels,
        datasets: [{
            label: '# of Votes',
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
    </script>
    {% endblock %}
</body>
</html> 