{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ComFib Interview</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{% static 'services/styles.css' %}">
    <!-- <script src='main.js'></script> -->
    {% include 'base/css.html' %}
    {% include 'base/js.html' %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'services:index' %}">Community Fibre Interview Showcase</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'services:creation' %}"><span class="sr-only">(current)</span>Service Creation </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'services:report' %}">Service Report</a>
            </li>
            </ul>
        </div>
    </nav>
    <p>Below diagrams are just simple representation of sap distribution per port and node</p>
    <div class="form-group row">
        <label for="files" class="col-4 col-form-label">Choose a node config file to generate sap per port report:</label> 
        <select name="files" id="files">
            <option value="none">----</option>
        </select>
        <button type="submit" class="btn-primary" onclick="refreshChart()">Get Chart</button>
    </div>
    
    {% block content %}
    <div class='container'>
        <div class='row'>
            <div class='row'>
                <div class='col-6 col-sm-12 col-md-6'>
                    <canvas id="nodeSapChart" width="400" height="400"></canvas>
                </div>
                <div class='col-6 col-sm-12 col-md-6'>
                    <canvas id="portSapChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
    {% include 'base/js.html '%} 
    {% block javascript %}
    <script>
    
    $.ajax({
        method: "GET",
        url: '/api/portData',
        success: function(data){
            for(key in data){
                $('<option>').val(key).text(key).appendTo('#files');
            }
        },error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    });

    

    function refreshChart(){
        var fileName = $('#files').find(":selected").text();
        var endpoint = '/api/portData'
        var portData = []
        var nodeData = []
        var portLabels = []
        var nodeLabels = []
        $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
            dataPort = data[fileName]
            console.log(data)
            for (const [key, value] of Object.entries(dataPort['port'])) {
                portLabels.push(key);
                portData.push(value);
            }
            for(const[keyy,valuee] of Object.entries(data)){
                for (const [key, value] of Object.entries(valuee['node'])) {
                    if(key === "name"){
                        nodeLabels.push(value);
                    }else if(key === "totalSapCount"){
                        nodeData.push(value)
                    }
                }
            }
            
            // JS - Destroy exiting Chart Instance to reuse <canvas> element
            let portChartStatus = Chart.getChart("portSapChart"); // <canvas> id
            if (portChartStatus != undefined) {
                portChartStatus.destroy();
            }
            let nodeChartStatus = Chart.getChart("nodeSapChart"); // <canvas> id
            if (nodeChartStatus != undefined) {
                nodeChartStatus.destroy();
            }
            //-- End of chart destroy
            // port chart start  
            var ctx = document.getElementById("portSapChart");
            var portSapChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: portLabels,
                datasets: [{
                    label: '# of saps',
                    data: portData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
            });
            // --- port chart end 
            // node chart start 
            var nodeCtx = document.getElementById("nodeSapChart");
            var portSapChart = new Chart(nodeCtx, {
            type: 'bar',
            data: {
                labels: nodeLabels,
                datasets: [{
                    label: '# of saps',
                    data: nodeData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
            });
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })

    }
    </script>
    {% endblock %}
</body>
</html> 